<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/header') %>
    <title>Document</title>
  </head>
  <body>
    <div class="blur-background"></div>
    <div class="blur-overlay"></div>
    <div class="container">
      <%- include('partials/navbar') %>
      <main class="container"><%- body %></main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
